
* {
    font-family: Arial,Helvetica,sans-serif;
}

.head {
    height: 70px;
  }
 
  nav ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  nav li {
    float: left;
  }
  nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  nav .about {
    float: right;
  }
  section {
    margin-top: 20px;
  }

  .vaccin {
      padding-bottom: 1%;
  }

.art{
    padding-bottom : 5%;
}

.foot{
    padding: 2% 0;
    
}

.footer-dark {
    padding-top:20px;
  }

.footer-dark h4 {
    margin-top:0;
    margin-bottom:12px;
    font-size:16px;
    color: white;
  }

.footer-dark ul a {
    text-decoration:none;
    color: white;
  }

  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }

  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  .data {
    border: 1px solid black ;
    padding : 1%;
  }