
* {
    font-family: Arial,Helvetica,sans-serif;
}
.bg-primary {
  background-color: #354B98!important;
}

.head {
    height: 70px;
  }
 
  nav {
    margin-top:1%;
  }

  nav ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  nav li {
    float: left;
  }
  nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  nav .about {
    float: right;
  }
  section {
    margin-top: 20px;
  }

  .vaccin {
      padding-bottom: 1%;
  }

.art{
    padding-bottom : 5%;
}

.foot{
    padding: 1% 0;
    
}

.footer-dark {
    padding-top:20px;
  }

.footer-dark ul a {
    text-decoration:none;
    color: white;
  }

  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }

  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  .data {
    border: 2px solid black ;
    padding : 1%;
    margin : 1% ;
  }

  .data a{
    text-decoration: none;
    color : black;
  }

  .data a:hover {
    opacity: 0.7;
    text-decoration: underline;
  }

  .dimportant {
    border: 2px solid black ;
    padding : 1%;
    margin : 1% ;
  }

  .dimportant a{
    text-decoration: none;
    color : white;
  }

  .dimportant a:hover {
    opacity: 0.7;
    text-decoration: underline;
  }